<!DOCTYPE html>
<html ng-app="app" ng-controller="BoramCtrl">
  <head>
    <title ng-bind="title">카카오웹!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css" />

		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
		<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<script
			src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
	</head>
	<body>

		<div class="flex-box header-box">
			<h1>보람톡!</h1>
			<img class="profile-img"
					 src="{{profile.thumbnailImage}}" />
		</div>

		<div ng-show="isLoggedIn && isSocketRdy"
				 class="flex-box main-box uk-card uk-card-default uk-card-body uk-width-1-2@m msg-box">
			<ul class="uk-comment-list">
				<li ng-repeat="chat in chats"
						ng-class="profile.userId === chat.userId ? 'me' : 'not-me'">
					<article class="uk-comment uk-visible-toggle" tabindex="-1">
						<header class="uk-comment-header uk-position-relative">
							<div class="uk-grid-medium uk-flex-middle" uk-grid>
								<div class="uk-width-auto">
									<img class="uk-comment-avatar"
											 src="{{chat.thumbnailImage ? chat.thumbnailImage : DEFAULT_PROFILE_IMG}}"
											 width="80" height="80" alt="">
								</div>
								<div class="uk-width-expand">
									<h4 class="uk-comment-title uk-margin-remove">{{chat.nickname}}</h4>
								</div>
							</div>
						</header>
						<div class="uk-comment-body">
							<p>{{chat.message}}</p>
						</div>
						<span class="timestamp">{{chat.timestamp}}</span>
					</article>
				</li>
			</ul>
		</div>

		<div class="flex-box action-box"
				 ng-show="isLoggedIn && isSocketRdy">
			<input class="uk-input msg-input"
						 type="text"
						 ng-model="msg"
						 ng-keydown="$event.keyCode === 13 && send(msg)"
						 placeholder="여기다 쓰세용" />
			<Button class="uk-button uk-button-primary send-button"
							ng-click="send(msg);">
				전송
			</Button>
		</div>

		<div class="flex-box footer-box">
			<a id="kakao-login-btn"
				 class="login-btn"
				 style="display:none;"
				 ng-show="!isLoggedIn"></a>
			<Button id="kakao-logout-btn"
							class="uk-button uk-button-secondary login-btn"
							style="display:none;"
							ng-show="isLoggedIn"
							ng-click="logout();">
				로그아웃
			</Button>
		</div>

		<script src="javascripts/app.js"></script>
  </body>
</html>
