html{
	background-color:#333;
	height:100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height:100%;
	min-height:100%;
}

h1 {
	color:#fff;
}

a {
  color: #00B7FF;
}

.flex-box{
	margin:0 20px;
}

.header-box{
	margin-top:20px;
	height:62px;
}

.main-box{
	flex:1;
}

.action-box{
	margin-bottom:20px;
	height:40px;
}

.footer-box{
	height:40px;
	margin-bottom:20px;
}

.profile-img{
	float: right;
	margin-top: -62px;
	height: 62px;
	width: 62px;
}
.msg-box{
	overflow-y:scroll;
	background-color:#9bbbd4;
	padding-bottom:0;
	width:auto;
}

.msg-box article{
	width:100%;
	display:inline-block;
}

.msg-box .me:last-child{
	margin-bottom:10px
}

.msg-box .uk-comment-avatar{
	width:35px;
	position:relative;
	z-index:1;
}

.msg-box .uk-comment-header{
	margin-bottom:0;
}

.msg-box .uk-comment-list>:nth-child(n+2){
	margin-top:0 !important;
}

.msg-box .uk-width-expand{
	padding-left:10px;
}

.msg-box .uk-comment-title{
	color:#556677;
	font-size:12px;
	position:relative;
	top:-10px;
}

.msg-box .uk-comment-body{
	background-color:#fff;
	position:relative;
	top:-15px;
	z-index:0;
	margin-left:20px;
	float:left;
}

.msg-box .uk-comment-body p{
	margin:10px 10px 10px 20px;
	font-size:12px;
	float:left;
}

.msg-box .timestamp{
	color:#556677;
	font-size:10px;
	margin-left:5px;
	position:relative;
	top: -15px;
	line-height: 36px;
	vertical-align: middle;
}

.msg-box .me .timestamp{
	float:right;
	position: initial;
	vertical-align: middle;
	line-height: 36px;

}

.msg-box .me article{
	margin-top:5px !important;
}


.msg-box .me header{
	display:none;
}

.msg-box .me .uk-comment-body{
	background-color:#fef01b;
	float:right;
	top:0;
	margin-left:5px;
}

.msg-box .me .uk-comment-body p{
	margin:10px;
}

.msg-input{
	padding-right:100px;
}

.send-button{
	float:right;
	margin-top:-40px;
	position:relative;
}

.spinner-container{
	text-align: center;
	margin:20px;
}

.footer-action{
	float:left;
}

.theme-container{
	margin-left:15px;
}

.theme-container .uk-label{
	position:absolute;
}

.theme-icons-container{
	border:1px solid #556677;
	margin-left:30px;
	height:40px;
	padding:0 10px 0 15px;
}

.theme-icons{
	height:30px;
	margin:5px 5px 0 0;
	cursor:pointer;
}

.emoticons{
	height: 14px;
	margin-top: -3px;
}

.font-size{
	display:inline-block;
	margin-left:5px;
	cursor: pointer;
}

.font-size-large{
	font-size:20px;
	margin-top:9px;
	margin-left:2px;
}

.font-size-small{
	font-size:14px;
	margin-top:6px;
	position: relative;
	top:-2px;
}

.msg-box.small .uk-comment-body p{
	font-size:10px;
}

.login-btn{
	padding:0 15px;
}
