html.word{
	background-color:#fff;
}

html.word.dark{
	background-color:#000;
}

.word body{
	font:14px Arial;
}

.word h1{
	font:16px Arial;
	color:#000;
	margin:10px 0;
}

.word.dark h1 {
	color:limegreen;
}
.word .header-box{
	height:30px;
}

.word .msg-box header,
.word .profile-img{
	display:none;
}

.word .msg-box{
	background-color:#fff;
	margin:20px;
	padding:0;
	box-shadow:none;
}

.word.dark .msg-box {
	background-color:#000;
}

.word .uk-comment-body{
	top:0;
	margin-left:0;
}

.word.dark .uk-comment-body {
	background-color:#000;
	color:#fff;
}

.word .uk-comment-body p{
	margin-left:0;
}

.word .msg-box .timestamp{
	top:0;
}

.word .msg-box .me .uk-comment-body{
	background-color:#fff;
}

.word.dark .msg-box .me .uk-comment-body{
	background-color:#000;
	color:limegreen;
}

.word .msg-box article{
	color:black;
}

.word .msg-box .me article{
	color:blue;
}

.word .msg-box .timestamp{
	color:gray;
}

.word.dark .msg-input{
	background-color:#333333;
	color:#fff;
}

.word .login-btn{
	top:15px;
	position:relative
}
